.container__quizz {
  width: 100%;
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;

  margin-top: 4rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  .quizz__logo {
    position: absolute;
    top: 0;
    left: 20px;

    h2 {
      font-size: 2.5rem;
      font-weight: bold;
      text-shadow: 0 0 10px #ff0000;

      color: #000;
      text-align: center;
    }
  }

  .quizz__title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: #fff;
  }
}
